.piano-keyboard {
	min-width: 100px;
	height: 50px;
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	user-select: none;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
}

.piano-keyboard-key {
	height: 100%;
	order: 0;
	flex: 1 0 auto;
	align-self: auto;
	outline: 1px solid gray;

}

.piano-keyboard-key-black {
	height: 70%;
	flex: 0 1 20px;
	z-index: 1;
	margin-left: -10px;
	margin-right: -10px;
	background: black;
}

.piano-keyboard-key.active {
	background: gray;
}