.piano-keyboard {
	width: 61rem;
	height: 8rem;
	cursor: pointer;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
}


.piano-keyboard-key {
	position: relative;
	height: 100%;
	order: 0;
	flex: 1 0 auto;
	align-self: auto;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.piano-keyboard-key-black {
	height: 70%;
	flex: 0 0 1.2rem;
	z-index: 1;
	margin-left: -0.6rem;
	margin-right: -0.6rem;
	background: black;
}

.piano-keyboard-key.active {
	background: rgb(189, 226, 242);
}

.piano-keyboard-vertical {
	flex-direction: column-reverse;
}
.piano-keyboard-vertical .piano-keyboard-key {
	height: auto;
	width: 100%;
}
.piano-keyboard-vertical .piano-keyboard-key-black {
	width: 60%;
	flex: 0 0 3rem;
	margin-left: 0;
	margin-right: 0;
	margin-top: -1.5rem;
	margin-bottom: -1.5rem;
}